.completed {
	text-decoration: line-through;
}

#todoTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background: #04aa6d;
	color: white;
}

#todoTable td {
	cursor: pointer;
}
